<div [class]="rotate ? 'play-btn-reverse' : 'play-btn'" >

  <div  [class]="rotate ? 'buttons-reverse' : 'buttons'"  *ngIf="!calculatorOpened">
    <ion-row>
      <ion-col>
        <ion-button shape="round" (click)="minusClick()">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round" (click)="halfPoints()">/</ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round" (click)="plusClick()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top:10px">
      <ion-col>
        <ion-button shape="round" style="margin-left:40%">d</ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round" style="margin-right:40%">m</ion-button>
      </ion-col>
    </ion-row>
  </div>


  <app-calculator 
    *ngIf="calculatorOpened"
    [oldResult]="result"
    [rotate]="rotate"
    [operation]="operation"
    (onChangeResult)="resultChanged($event)"
    (onBack)="calculatorClosed($event)">
  </app-calculator>

  <div class="result" *ngIf="scoreVisible" style="display: flex;justify-content: center;margin-top:20px" [style.margin-bottom]="rotate ? '30px' : ''" [style.margin-top]="!rotate ? '30px' : ''">
    <ion-item >
      <ion-label style="font-size: 2em;">{{result}}</ion-label>
    </ion-item>
  </div>

</div>