.buttons {
  text-align: center;
  width: 100%;
  margin-top: 10%;
  transform: rotate(180deg);
}

.buttons-reverse {
  text-align: center;
  width: 100%;
  margin-top: 0px;
}

ion-row {
    justify-content: space-between;
}

.result{
    display: flex;
    align-items: center;
    margin: "0 auto"
}

.play-btn {
    display: flex;
    flex-direction: column;
}

.play-btn-reverse {
  display: flex;
  flex-direction: column-reverse;
}

ion-button {
    width:10vh;
    height: 6vh;
}

.coin {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.dice {
  width: 80px;
  height: 80px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.coin-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}
.coin-container-reverse {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  margin-top: 8%;
  transform: rotate(180deg);
}

.dice-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}

.dice-container-reverse {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  margin-top: 8%;
  transform: rotate(180deg);
}

#dice {
  font-size: 40px;
}
#dice1 {
  font-size: 40px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate 1s ease-in-out; 
}