<div [class]="rotate ? 'play-btn-reverse' : 'play-btn'" >

  <div  [class]="rotate ? 'buttons-reverse' : 'buttons'" *ngIf="!calculatorOpened && !coinOpened && !coinOpened1 && !diceOpened && !diceOpened1">
    <ion-row>
      <ion-col>
        <ion-button shape="round" (click)="minusClick()">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round" (click)="halfPoints()">
          <span style="font-size: large;">/</span>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round" (click)="plusClick()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top:10px">
      <ion-col>
        <ion-button shape="round" (click)="coinToss(rotate)" style="margin-left:40%">
          <ion-icon name="logo-euro"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round" (click)="diceRoll(rotate)" style="margin-right:40%">
          <ion-icon name="dice-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="coinOpened1" class="coin-container">
    <ion-button id="coin1" (click)="coinToss(rotate)" shape="round" color="primary" class="coin">
      <p>{{coin}}</p>
    </ion-button>
    <ion-button size="small" (click)="back('coin1')" shape="round">
      <ion-icon name="return-up-back-outline"></ion-icon>
    </ion-button>
  </div>

  <div *ngIf="coinOpened" class="coin-container-reverse" >
    <ion-button id="coin" (click)="coinToss(rotate)" shape="round" color="primary" class="coin">
      <p>{{coin}}</p>
    </ion-button>
    <ion-button size="small" (click)="back('coin')" shape="round">
      <ion-icon name="return-up-back-outline"></ion-icon>
    </ion-button>
  </div>

  <div *ngIf="diceOpened1" class="dice-container">
    <ion-button (click)="diceRoll(rotate)" color="primary" class="dice">
      <p id="dice1">0</p>
    </ion-button>
    <ion-button size="small" (click)="backDice('dice1')" shape="round">
      <ion-icon name="return-up-back-outline"></ion-icon>
    </ion-button>
  </div>

  <div *ngIf="diceOpened" class="dice-container-reverse">
    <ion-button (click)="diceRoll(rotate)"  color="primary" class="dice">
      <p id="dice">0</p>
    </ion-button>
    <ion-button size="small" (click)="backDice('dice')" shape="round">
      <ion-icon name="return-up-back-outline"></ion-icon>
    </ion-button>
  </div> 

  <app-calculator 
    *ngIf="calculatorOpened"
    [oldResult]="result"
    [rotate]="rotate"
    [operation]="operation"
    (onChangeResult)="resultChanged($event)"
    (onBack)="calculatorClosed($event)">
  </app-calculator>

  <div class="result" *ngIf="scoreVisible" style="display: flex;justify-content: center;margin-top:20px" [style.margin-bottom]="rotate ? '30px' : ''" [style.margin-top]="!rotate ? '30px' : ''">
    <ion-item >
      <ion-label style="font-size: 2em;">{{result}}</ion-label>
    </ion-item>
  </div>

</div>