<div [class]="!rotate ? 'calculator-reverse' : 'calculator'" >
  <div style="display: flex;justify-content: center">
    <ion-item>
      <ion-label style="font-size: 2em;">{{result}}</ion-label>
    </ion-item>
  </div>
  <div [class]="!rotate ? 'buttons-reverse' : 'buttons'">
    <ion-row>
      <ion-col *ngFor="let number of num1" >
        <ion-button  shape="round" (click)="appendToResult(number)" expand="full">{{number}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let number of num2" >
        <ion-button  shape="round" (click)="appendToResult(number)" expand="full">{{number}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let number of num3" >
        <ion-button  shape="round" (click)="appendToResult(number)" expand="full">{{number}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button  shape="round" (click)="cancelResult()" expand="full"><</ion-button>
      </ion-col>
      <ion-col>
        <ion-button  shape="round" (click)="appendToResult('0')" expand="full">0</ion-button>
      </ion-col>
      <ion-col>
        <ion-button  shape="round" (click)="setResult()" expand="full">=</ion-button>
      </ion-col>
    </ion-row>
  </div>
</div>
